version: '3.3'

services:
  worked-dev:
    container_name: worked-dev
    image: worked-dev:latest
    build:
      context: .
      dockerfile: Dockerfile-dev
      args:
        NODE_ENV: development
        REACT_APP_API_URL: http://localhost:9501/
    volumes:
      - '.:/usr/src/app'
    ports:
      - '127.0.0.1:9502:3000'
    restart: always
    healthcheck:
        test: "nc -z localhost 3000"
        interval: 1s
        timeout: 10s
        retries: 5
